<div flex class="button-container">
  <button mat-button class="button-add-address" (click)="openModal()">
    <mat-icon>add_circle</mat-icon>
    <span>New Address</span>
  </button>
</div>


<div class="grid">
  <div *ngFor="let house of houses" class="container-shadow house-container">
    <div class="address-container" (click)="onHouseSelect(house.id)">
      <span class="street">{{ house.address }}</span>
      <span class="city">{{ house.city }}</span>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="settings">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>

      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Remove</span>
      </button>
    </mat-menu>
  </div>
</div>
<div>
  <app-new-house *ngIf="isModalOpen" (onClose)="isModalOpen = false"/>
</div>
